@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #292727;
  color: white;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}

.result {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}

.prompt {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: left;
  resize: vertical;
  padding: 1em;
}

.container {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  width: 100%;
}

button {
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid #000;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  width: 100%;
  gap: 2em;
}

textarea {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.1em;
  }

  .result {
    font-size: 1.2em;
  }

  button {
    font-size: 0.9em;
    padding: 0.5em 1em;
  }

  textarea {
    font-size: 0.9em;
  }
}
