@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  background-color: #292727;
  color: white;
  font-family: "Roboto", sans-serif;
}
.heading {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}
.result {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}
.prompt {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: center;
  /* position: absolute; */
}
.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  width: 100%;
  height: 100vh;
}
button {
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid #000;
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  gap: 5vh;
}
